*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 header{
    background-color: white;
    padding-left: 10px;
    padding-bottom: 10px;
 }

 #main_title{
    font-size: 45px;
    font-family: sans-serif;
    font-weight: bold;
    vertical-align: 10px;
 }

 /* add section */

body{
    background-color: rgb(238, 237, 237);
    font-family: sans-serif;
}

  .container{
    width: 40%;
    margin: 0 auto;
 }

 #container1{
    margin-top: 50px;
    height: 50px;
    padding: 18px 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
}

#add_t{
    background-color: cornflowerblue;
    padding: 8px 10px;
    border-radius: 5px;
    color: white;
    font-size: small;
}

#add_s{
    padding: 8px 10px;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid lightgray;
    color: lightgray;
    font-size: small;
}

/* add section done */

#container2{
    margin-top: 2px;
    padding: 50px 30px;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


.titles{
    font-size: 30px;
    font-family: sans-serif;
}
/* list */
.bossitem{
    font-size: 25px;
    font-weight: bold;
    list-style-type: none;
}

.subitem{
    font-size: 15px;
    font-weight: lighter;
    list-style-type: none;
    line-height: 3;
}

/* check, cross */

.check{
    border: 2px solid lightgreen;
    border-radius: 50%;
    padding: 0 3px;
    color: lightgreen;
}

.cross{
    border: 2px solid lightcoral;
    border-radius: 50%;
    padding: 0 3px;
    color: lightcoral;
}

/* check, cross end */

/* today colored buttons */

.edit{
    background-color: cornflowerblue;
    border-radius: 10px;
    color: white;
    padding: 7px;
    font-size: 9px;
}

.goal{
    background-color: purple;
    border-radius: 10px;
    color: white;
    padding: 7px;
    font-size: 9px;
}

.recruit{
    background-color: lightgreen;
    border-radius: 10px;
    color: white;
    padding: 7px;
    font-size: 9px;
}

.mobile{
    background-color: orange;
    border-radius: 10px;
    color: white;
    padding: 7px;
    font-size: 9px;
}

/* upcoming colored buttons */

.web{
    background-color: palevioletred;
    border-radius: 10px;
    color: white;
    padding: 7px;
    font-size: 9px;
}

.sales{
    background-color: greenyellow;
    border-radius: 10px;
    color: white;
    padding: 7px;
    font-size: 9px;
}




